@import "tailwindcss";
@plugin "@tailwindcss/forms";

body {
	background-color: var(--color-background);
	@apply text-white;
}

.custom-button {
	/* @apply text-black bg-indigo-300 hover:cursor-pointer hover:bg-indigo-200 active:bg-indigo-400 rounded-md; */
	@apply rounded-md bg-amber-500 text-black hover:cursor-pointer hover:bg-amber-400 active:bg-amber-600;
}

.bg-header {
	background-color: var(--color-header);
}

.bg-background {
	background-color: var(--color-background);
}

.alternating-children {
	&:nth-child(even) {
		background-color: var(--color-background);
	}
	&:nth-child(odd) {
		background-color: var(--color-header);
	}
}

:root {
	--color-header: #23262f;
	--color-background: #17181c;
}
