DATABASE_USER="root"
DATABASE_DB="registry"

# Change the password on both of these.
DATABASE_PASSWORD="mysecretpassword"
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/registry"

# Change this when deploying.
PUBLIC_DOMAIN="http://localhost"

# A token the user can use to allow creating accounts in prod.
# Create a cookie called "Registry-Allow-Signup" and set it to this value to create accounts.
REGISTRY_SIGNUP_BYPASS="mysecretpassword"
