name: Bun CI

on:
  push:
    branches: ["stable", "main"]
  pull_request:
    branches: ["stable", "main"]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install
      # - run: bun run script:vanilla:generate

      # NOTE: `bun ci` is currently broken.
      # - run: bun ci

      - run: bunx biome ci
      - run: bun test
      - run: bunx tsc
      - run: bun ./tools/test/cards.ts

        # TODO: Make this work.
        # - name: Crash Test
        #   run: |
        #     bun ./tools/test/crash.ts &&
        #     bun ./tools/test/crash.ts &&
        #     bun ./tools/test/crash.ts &&
        #     bun ./tools/test/crash.ts &&
        #     bun ./tools/test/crash.ts
        # If it takes more than 10 minutes, it's probably stuck in an infinite loop.
        timeout-minutes: 10
